body {
  font-family: Arial, sans-serif;
  background: linear-gradient(140deg, #ff00b7, #ffee01);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-screen,
.quiz-container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.categories button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.categories button:hover {
  background-color: #0056b3;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#progressContainer {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  height: 16px;
  margin-bottom: 20px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: #28a745;
  transition: width 0.4s ease-in-out;
}

#answers button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#answers button:hover {
  background-color: #117a8b;
}

#nextBtn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #d06a2e;
  color: white;
  border: none;
  border-radius: 6px;
  display: none;
  cursor: pointer;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out-question {
  animation: fadeOut 0.3s ease forwards;
}

.slide-in-question {
  animation: slideIn 0.3s ease forwards;
}

/* Restart Button Styling */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745; /* green */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #218838; /* darker green */
}
